<!DOCTYPE html>
<html>
<head>
  <title>Application</title>
  <style>
    body {
  background: rgb(204,204,204); 
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  padding-top: 50px;
  width: 20cm;
  height: 16cm; 
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

  </style>
</head>
<body>
 <center><h1>Application</h1></center>
  <page size="A4">{{ essay }}</page>

</body>
</html>
